<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/beacon.css">
  <title>Smart Notifications</title>
</head>
<body>
  <div id="react"></div>
  <script src="beacon-bundle.js"></script>
</body>
</html>