<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/bootstrap.min.js"></script>
	<title>Unnamed IoT Project</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Unnamed IoT Project</h1>
			<p>
				We would like to do some cool stuff with IoT. Let's make IoT less bad.
			</p>
			<p>
        <a class="btn btn-primary" href="/login" role="button">Log In</a>
			</p>
		</div>
	</div>
</body>
</html>
