$mdc-theme-primary: #00a6ff;
$mdc-theme-secondary: #409e40;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import "@material/react-button/index";

body {
  background: #5FC4FA;
  font-family: Roboto, sans-serif;
  margin: 0;
}
/* @media (max-width: 800px) {
  body {
  }
} */

h1 {
  font-size: 22pt;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  color: #318bbb;
  font-weight: lighter;
  font-size: 16pt;
}

h4 {
  margin: 0.5em 0;
  font-weight: 500;
}

input, textarea {
  font-size: 11pt;
  border: none;
  border-bottom: 1px solid #b9e7ff;
  width: 100%;
  padding: 6px 3px;
  margin: 6px 0;
}

textarea {
  height: 120px;
}

input:focus, textarea:focus {
  border: none;
  border-bottom: 2px solid #5FC4FA;
  outline: none;
}

.btn {
  font-size: 12pt;
  color: #fff;
  padding: 3px 9px;
  border-radius: 6px;
}

.btn-green {
  color: white;
  background: #409e40;
  border: 1px solid rgb(64, 144, 64);
}
.btn-green:hover {
  background: rgb(71, 175, 71);
}
.btn-green:active {
  background: rgb(40, 99, 40);
}

.btn-blue {
  color: white;
  background: #00a6ff;
  border: 1px solid #0092e0;
}
.btn-blue:hover {
  background: #50c2ff;
}
.btn-blue:active {
  background: #0082c9;
}
.btn-blue:disabled {
  background: #3b5b6d;
}

.mdc-button {
  text-transform: none;
  letter-spacing: initial;
  font-size: 1rem;
}

.mdc-button-blue {
  @include mdc-button-filled-accessible(#00a6ff);
  @include mdc-button-ink-color(#FFFFFF);
  @include mdc-button-corner-radius(4px);
}

.mdc-button-green {
  @include mdc-button-filled-accessible(#409e40);
  @include mdc-button-ink-color(#FFFFFF);
  @include mdc-button-corner-radius(4px);
}

.modal-window {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  max-width: 400px;
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  z-index: 5;
  background-color: white;
  padding: 16px;
}
.modal-bg {
  z-index: 4;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  left: 0;
}
.modal-heading {
  margin: 0.25em 0;
}

.error {
  background-color: #fdd7d7;
  border: 1px solid #ff7272;
  color: #ff7272;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.link-plain {
  text-decoration: none;
  color: initial;
}