@import "@material/ripple/common";
@import "@material/ripple/mixins";

$drawer-width: 225px;
$drawer-padding: 15px;

.drawer {
  height: 100%;
  position: fixed;
  z-index: 6;
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14),
    0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  background: white;
  width: $drawer-width;
  // left: -$drawer-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 14px 0;
}

.drawer-enter {
  left: -$drawer-width;
}
.drawer-enter.drawer-enter-active {
  left: 0px;
  transition: left 0.3s ease-in-out;
}
.drawer-enter-done {
  left: 0px;
}
.drawer-exit {
  left: 0px;
}
.drawer-exit.drawer-exit-active {
  transition: left 0.3s ease-in-out;
  left: -$drawer-width;
}

.drawer-shadow {
  z-index: 5;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #00000036;
}
.drawer-shadow-enter {
  opacity: 0;
}
.drawer-shadow-enter.drawer-shadow-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.drawer-shadow-enter-done {
  opacity: 1;
}
.drawer-shadow-exit {
  opacity: 1;
}
.drawer-shadow-exit.drawer-shadow-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.drawer-item {
  @include mdc-ripple-surface;
  @include mdc-states;
  @include mdc-ripple-radius-bounded;

  overflow: hidden;
  width: $drawer-width - 2 * $drawer-padding;

  display: flex;
  align-items: center;
  height: 1em;
  padding: 10px $drawer-padding;
  cursor: pointer;
}

.drawer-item > i {
  margin-right: 8px;
}

.drawer-header {
  border-bottom: 1px solid #eeeeee;
  width: $drawer-width - 2 * $drawer-padding;
  padding: 10px $drawer-padding;
  cursor: default;
}

.drawer-header > h3 {
  margin: 0;
}