@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";
@import "./users.scss";

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color(#0d87c9);
}

.home-item {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 1px #62a5c7;
}

.code-container {
  padding: 7px 4px;
  border: 1px solid #dddddd;
  color: #ffffff;
  background-color: #333333;
  display: block;
  white-space: pre-wrap
}
code {
  word-wrap: break-word;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 80%;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.btn-transparent-round {
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  height: 28px;
  width: 28px;
  font-size: 11pt;
  color: #3c98ca;
  padding-left: 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: width 0.25s;
}
.btn-transparent-round > * {
  pointer-events: none;
}
.btn-transparent-round:hover {
  cursor: pointer;
  width: 100px;
  padding-left: 5px;
}
.btn-transparent-round:hover .btn-hover-expand {
  display: inline;
  margin-left: 5px;
}
.btn-hover-expand {
  display: none;
}


#refresh {
  margin-right: 15px;
  padding: 3px 9px;
}

#refresh-label {
  margin-right: 10px;
}

.x-mark {
  color: rgb(199, 0, 0);
  font-size: 14pt;
}

.check-mark {
  color: rgb(23, 117, 0);
  font-size: 14pt;
}

#access-token {
  margin-top: 16px;
}

#notifications-prompt {
  display: flex;
  padding: 14px;
  background: #409e40;
  color: white;
  z-index: 3;
}

// Make the top appear below the Material Top Bar. !important because the
// Toast component sets element.style directly, and doesn't support media
// queries.
.toast-notification {
  top: 64px !important;
  width: 85% !important;
  max-width: 400px !important;
}
@media (max-width: 599px) {
  .toast-notification {
    top: 56px !important;
  }
}

.device-modal-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.device-modal-heading {
  margin: 1em 0 0 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: 400;
}

.access-control-subheading {
  font-weight: 500;
}

.prompt-command {
  margin-top: 5px;
  font-size: 1.1em;
}

.prompt-button {
  margin-left: 10px;
}