
@import "@material/top-app-bar/mdc-top-app-bar";

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color(#0d87c9);
}

.home-item {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 1px #62a5c7;
}

.code-container {
  padding: 7px 4px;
  border: 1px solid #dddddd;
  color: #ffffff;
  background-color: #333333;
  display: block;
  white-space: pre-wrap
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 80%;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}

.btn-transparent-round {
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  height: 28px;
  width: 28px;
  font-size: 11pt;
  color: #3c98ca;
  padding-left: 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: width 0.25s;
}
.btn-transparent-round > * {
  pointer-events: none;
}
.btn-transparent-round:hover {
  cursor: pointer;
  width: 100px;
  padding-left: 5px;
}
.btn-transparent-round:hover .btn-hover-expand {
  display: inline;
  margin-left: 5px;
}
.btn-hover-expand {
  display: none;
}


#refresh {
  margin-right: 15px;
  padding: 3px 9px;
}

#refresh-label {
  margin-right: 10px;
}

.x-mark {
  color: rgb(199, 0, 0);
  font-size: 14pt;
}

.check-mark {
  color: rgb(23, 117, 0);
  font-size: 14pt;
}

#access-token {
  margin-top: 16px;
}

.devices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#edit-rooms {
  padding: 6px 12px;
}

.device-li {
  padding: 6px 6px 6px 12px;
  border-top: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.device-li-edit {
  margin-right: 8px;
  color: #848484;
}

.device-toggle {
  font-size: 11pt;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  width: 100px;
}

.toggle-active {
  background: #73C046;
}

.toggle-inactive {
  background: #dddddd;
}

.room-label {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  border-top: 1px solid #EEEEEE;
  background-color: #f5f5f5;
}

.room-label-edit {
  border-bottom: 1px solid #3c98ca;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: inherit;
  background: inherit;
  padding: 2px;
}

#error-exclamation {
  color: #b80000;
  border: 3px solid #b80000;
  width: 96px;
  height: 96px;
  border-radius: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
  font-size: 40pt;
  margin: auto;
}

#error-msg {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}