.switch-mode {
  cursor: pointer;
  text-decoration: underline;
}

#authenticate {
  background: white;
  border-radius: 8px;
  padding: 30px 20px;
  margin: 16px auto;
  max-width: 400px;
}
@media (max-width: 500px) {
  #authenticate {
    max-width: 85%;
  }
}


#big-check {
  color: green;
  border: 3px solid green;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
  font-size: 40pt;
  margin: auto;
}

.auth-button {
  margin: 0 10px 10px 0;
}

