.user-li {
  padding: 10px 0 10px 5px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-li-label {
  margin-left: 5px;
}

.user-radio-label {
  display: flex;
  align-items: center;
  min-width: 50vw;
}

.user-you-label {
  background: rgb(134, 196, 162);
  border-radius: 5px;
  padding: 4px 12px;
  margin-left: 12px;
}