<html>
<head>

</head>
<body>
  <h1>Smart home dashboard</h1>
  <div>
    Lock status: <%=lockStatus%>
  </div>
  <div>
    Outlet status: <%=outletStatus%>
  </div>
  <div>
    Contact sensor status: <%=sensorStatus%>
  </div>
</body>
</html>