<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.washington.cs.smarterhome" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SmarterHome</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="cordova.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <plugin name="cordova-support-google-services" spec="^1.2.0" />
    <plugin name="cordova-plugin-firebase-messaging" spec="^1.1.0">
        <variable name="FIREBASE_MESSAGING_VERSION" value="17.1.+" />
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="com.unarin.cordova.beacon" spec="~3.7.0" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.5" />
</widget>
